In [ ]:
# preprocessing

# TODO

In [23]:
import plotly.express as px
from jupyter_dash import JupyterDash
from dash import dcc, html
from dash.dependencies import Input, Output
from dash.exceptions import PreventUpdate
import pandas as pd

In [3]:
def load_data():
    return pd.read_excel('./test_data/test_data_RD11001105.xlsx')

df = load_data() # become database query in the future
df.head()

,ID,LC,PI,Seal,Point,Vop,LC%,Wx,Wy,WY,Cell Gap,T%
0,T19BU001NB0S,LCT-15-1098,SE-7492,723K1M,1,0.0,0.001388,0.3183,0.3562,1.0743,2.933733,0.191195
1,T19BU001NB0S,LCT-15-1098,SE-7492,723K1M,1,0.2,0.000835,0.2907,0.3603,0.6513,2.933733,0.115020
2,T19BU001NB0S,LCT-15-1098,SE-7492,723K1M,1,0.4,0.001368,0.3131,0.3424,1.0198,2.933733,0.188440
3,T19BU001NB0S,LCT-15-1098,SE-7492,723K1M,1,0.6,0.002159,0.3237,0.3566,1.6669,2.933733,0.297399
4,T19BU001NB0S,LCT-15-1098,SE-7492,723K1M,1,0.8,0.002200,0.3038,0.3248,1.6566,2.933733,0.303047

In [24]:
app = JupyterDash(__name__)

app.layout = html.Div([
    html.Div([
        "LC: ",
        lc_selection := dcc.Dropdown(options=df.LC.unique(), multi=True),
        "Chips: ",
        chip_selection := dcc.Dropdown(multi=True),
        "VT Curve",
        vt_fig := dcc.Graph(),
    ]),
    result := html.Div(),
])

@app.callback(
    Output(chip_selection, component_property='options'),
    Input(lc_selection, component_property='value'),   
)
def update_chip_options(selected_lcs):
    if selected_lcs is None:
        # PreventUpdate prevents ALL outputs updating
        raise PreventUpdate
    selected_df = df[df['LC'].isin(selected_lcs)]
    return [{'label': x, 'value': x} for x in selected_df.ID.unique()]


@app.callback(
    Output(vt_fig, component_property='figure'),
    Input(chip_selection, component_property='value'),
)
def update_vt_curve(selected_chips):
    if selected_chips is None:
    # PreventUpdate prevents ALL outputs updating
        raise PreventUpdate
    selected_df = df[df['ID'].isin(selected_chips)]
    fig = px.scatter(selected_df, x='Vop', y='LC%', color='ID')
    fig.update_layout(transition_duration=200)
    return fig

@app.callback(
    Output(result, component_property='children'),
    Input(lc_selection, component_property='value'),
)
def update_output_div(input_value):
    return f'LC Selection: {input_value}, type: {type(input_value)}'

app.run_server(mode='inline')

In [14]:
df.head()

,ID,LC,PI,Seal,Point,Vop,LC%,Wx,Wy,WY,Cell Gap,T%
0,T19BU001NB0S,LCT-15-1098,SE-7492,723K1M,1,0.0,0.001388,0.3183,0.3562,1.0743,2.933733,0.191195
1,T19BU001NB0S,LCT-15-1098,SE-7492,723K1M,1,0.2,0.000835,0.2907,0.3603,0.6513,2.933733,0.115020
2,T19BU001NB0S,LCT-15-1098,SE-7492,723K1M,1,0.4,0.001368,0.3131,0.3424,1.0198,2.933733,0.188440
3,T19BU001NB0S,LCT-15-1098,SE-7492,723K1M,1,0.6,0.002159,0.3237,0.3566,1.6669,2.933733,0.297399
4,T19BU001NB0S,LCT-15-1098,SE-7492,723K1M,1,0.8,0.002200,0.3038,0.3248,1.6566,2.933733,0.303047